:root {
  --fixed-adjust: 0px;
}

body {
  font-family: sans-serif;
}

body.modal-open {
  --fixed-adjust: 15px;
}

[class^="col"] > .card {
  margin-bottom: 2rem;
}

main {
  margin-top: 2rem;
}

.navbar p:last-child {
  margin-bottom: 0;
}

.alert .btn-link, .alert .btn-link:hover, .alert .btn-link:visited, .alert .btn-link:active {
  color: inherit;
}

li > p {
  margin-bottom: 0.25rem;
}
