body {
  font-family: sans-serif;
}

[class^="col"] > .card {
  margin-bottom: 56px;
}

main {
  margin-top: 2rem;
}

.navbar p:last-child {
  margin-bottom: 0;
}

.alert a, .alert a:hover, .alert a:visited, .alert a:active {
  color: inherit;
}
