Thanks so much for bidding in <b>{{auction.title}}</b>, and congratulations on winning the following items! <br/>
<br/>
{{# items}}
<b>{{title}}</b> by {{artist}} - <b>{{amount}}</b> <br/>
{{/ items}}
<br/>
We're working on getting ahold of all the pieces - social distancing restrictions are making it difficult.
Please send me your address, and we'll work out a time to deliver your items.
You can pay by check on delivery.  If you'd rather pay via credit card, please let me know,
and I will invoice you via PayPal. <br/>
<br />
Thanks again for your support of our organization!
